$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff,40%),
  primary-dark: darken(#005dff,40%),
  accent: #fff6bb,
);
$padding: 15px;
$borders: 15px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}

#register{
  align-items: center;
  text-align: center;
}